zuelligconsignment2netsuite-hongkong-batch/target/test-classes/lookupFlows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:dynamicscrm="http://www.mulesoft.org/schema/mule/dynamicscrm" xmlns:netsuite="http://www.mulesoft.org/schema/mule/netsuite" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/netsuite http://www.mulesoft.org/schema/mule/netsuite/current/mule-netsuite.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/dynamicscrm http://www.mulesoft.org/schema/mule/dynamicscrm/current/mule-dynamicscrm.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <ee:object-store-caching-strategy name="Lookup_Caching_Strategy" doc:name="Caching Strategy"/>
<db:generic-config name="Generic_Database_Configuration" dataSource-ref="NetSuiteConnector" doc:name="Generic Database Configuration"/>
    <spring:beans>
        <spring:bean id="NetSuiteConnector" name="NetSuiteConnector" class="org.apache.commons.dbcp.BasicDataSource">
            <spring:property name="maxOpenPreparedStatements" value="${netsuite.maxopenpreparedstatements}"/>
            <spring:property name="maxIdle" value="${netsuite.maxidle}"/>
            <spring:property name="maxWait" value="${netsuite.maxwait}"/>
            <spring:property name="defaultTransactionIsolation" value="${netsuite.defaulttransactionisolation}"/>
            <spring:property name="username" value="${netsuite.username}"/>
            <spring:property name="timeBetweenEvictionRunsMillis" value="${netsuite.timebetweenevictionrunsinmillis}"/>
            <spring:property name="driverClassName" value="${netsuite.driver}"/>
            <spring:property name="maxActive" value="${netsuite.maxactive}"/>
            <spring:property name="password" value="${netsuite.password}"/>
            <spring:property name="minEvictableIdleTimeMillis" value="${netsuite.minevictableidletimemillis}"/>
            <spring:property name="url" value="${netsuite.url}"/>
        </spring:bean>
    </spring:beans>
    <sub-flow name="initiateLookupOrder">
        <dw:transform-message doc:name="lookUpTransform Message">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json skipNullOn="everywhere"
---
{
	objectId: 'ADC',
	process: 'ALL',
	parameter: flowVars.parameter,
	key1: flowVars.keyPart1 default ''
}]]></dw:set-payload>
        </dw:transform-message>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <set-variable variableName="content-type" value="application/json" doc:name="content-type"/>
        <ee:cache cachingStrategy-ref="Lookup_Caching_Strategy" doc:name="Cache">
            <http:request config-ref="CIF_HTTPS_Configuration_Order" path="${cif.lookup.url}" method="POST" doc:name="HTTP"/>
            <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        </ee:cache>
        <set-variable variableName="content-type" value="application/json" doc:name="content-type"/>
        <dw:transform-message doc:name="payloadTransform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
    </sub-flow>
    <flow name="getPriceLevel1">
        <expression-component doc:name="lookUpParameters"><![CDATA[flowVars.parameter = 'NSPRICELEVEL';
flowVars.keyPart1=payload]]></expression-component>
        <flow-ref name="initiateLookupOrder" doc:name="initiateLookupOrder"/>
    </flow>
    <!-- <flow name="getPriceTypeId">
        <expression-component doc:name="Expression"><![CDATA[flowVars.name= "HK " + payload.ZuelligCustomerGroup;]]></expression-component>
        <logger message="priceLevel Name is #[flowVars.name]" level="INFO" doc:name="Logger"/>
        <db:select config-ref="Generic_Database_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select PRICE_TYPE_ID from PRICE_TYPES where NAME=#[flowVars.name]]]></db:parameterized-query>
        </db:select>
        <set-variable variableName="priceTypeId" value="#[payload[0].PRICE_TYPE_ID]" doc:name="Variable"/>
        <logger message="final db paylaod is #[payload]" level="INFO" doc:name="Logger"/>
    </flow> -->

</mule>
